.navbar {
  margin-bottom: 30px;
}

.login-container {
  width: 150px;
  margin: 40px auto;
}

.btn-login {
  background: url('https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-link.png') no-repeat center;
  width: 144px;
  height: 16px;
  border: none;
  padding: 20px;
}

.btn-like {
  position: absolute;
  top: -10px;
  right: 40px;
}

.btn-remove {
  position: absolute;
  top: -10px;
  right: 0;
}

.badge.badge-like-count {
  position: absolute;
  margin-top: -8px;
  margin-left: -18px;
  background: #369;
  color: #fff;
}

.zweet-card {
  margin-bottom: 20px;
}