.navbar {
  margin-bottom: 30px;
}

.btn-like {
  position: absolute;
  top: -10px;
  right: 40px;
}

.btn-remove {
  position: absolute;
  top: -10px;
  right: 0;
}

.badge.badge-like-count {
  position: absolute;
  margin-top: -8px;
  margin-left: -18px;
  background: #369;
  color: #fff;
}

.zweet-card {
  margin-bottom: 20px;
}